# Enable Powerlevel10k instant prompt. Should stay close to the top of ~/.zshrc.
# Initialization code that may require console input (password prompts, [y/n]
# confirmations, etc.) must go above this block; everything else may go below.
if [[ -r "${XDG_CACHE_HOME:-$HOME/.cache}/p10k-instant-prompt-${(%):-%n}.zsh" ]]; then
  source "${XDG_CACHE_HOME:-$HOME/.cache}/p10k-instant-prompt-${(%):-%n}.zsh"
fi


# The following lines were added by compinstall

zstyle ':completion:*' completer _complete _ignored _approximate
zstyle ':completion:*' list-colors ''
zstyle ':completion:*' matcher-list '' 'm:{[:lower:][:upper:]}={[:upper:][:lower:]}' 'r:|[._-]=** r:|=**' 'l:|=* r:|=*'
zstyle ':completion:*' max-errors 2
zstyle ':completion:*' menu select=0
zstyle ':completion:*' original true
zstyle ':completion:*' select-prompt %SScrolling active: current selection at %p%s
zstyle ':completion:*' verbose true
zstyle :compinstall filename '~/.zshrc'

autoload -Uz compinit
compinit
# End of lines added by compinstall
# Lines configured by zsh-newuser-install
HISTFILE=~/.histfile
HISTSIZE=1000
SAVEHIST=1000
setopt extendedglob
unsetopt autocd beep nomatch notify
bindkey -v
# End of lines configured by zsh-newuser-install

# To customize prompt, run `p10k configure` or edit ~/.p10k.zsh.
[[ ! -f ~/.p10k.zsh ]] || source ~/.p10k.zsh

# Import work options
if [ -f ~/.config/zsh/work.zsh ]; then
    source ~/.config/zsh/work.zsh
fi

# Options
ZSH_AUTOSUGGEST_STRATEGY=(history completion)

# Keybinds
bindkey '^I' forward-word
bindkey '^y' autosuggest-accept

# User functions
mkcd () { mkdir $1 && cd $1 }

# User aliases
alias c="clear"
alias cdg="cd ~/git"
alias cdog="cd /opt/git"
alias apa="ansible-playbook --ask-become-pass"
alias lsa="ls -la"
alias sua="su - admin"
alias trig="tree -aCI '.git'"
alias g="git"
alias gs="git status"
alias gfs="git fetch && git status"
alias glo="git log --oneline"
alias grl="git reflog"
alias ga="git add"
alias gap="git add --patch"
alias gcm="git commit -m"
alias grs="git restore --staged"
alias tmn="tmux new -s"
alias tml="tmux ls"
alias tma="tmux attach"
alias tmt="tmux attach -t"
alias cm="chezmoi"
alias -g tc="talosctl"
alias -g kc="kubectl"
alias pm="podman"
alias ks="kitten ssh --kitten=color_scheme=Jackie\ Brown"
{{- if eq .chezmoi.os "linux" }}
alias mpp="supersonic-desktop -play-pause"
alias mnext="supersonic-desktop -next"
alias mprev="supersonic-desktop -previous"
alias ncmpcpp="ncmpcpp -b ~/.config/ncmpcpp/bindings"
alias paf="pactl set-default-sink alsa_output.usb-Focusrite_Scarlett_2i4_USB-00.HiFi__Line1__sink"
alias pal="pactl set-default-sink alsa_output.usb-Focusrite_Scarlett_2i4_USB-00.HiFi__Line2__sink"
{{- end }}

# Exports
export PATH=$PATH:`go env GOPATH`/bin
export PATH=$PATH:~/scripts
export EDITOR=nvim

# Sources
{{- if eq .chezmoi.os "linux" }}
source /usr/share/zsh-theme-powerlevel10k/powerlevel10k.zsh-theme
source /usr/share/zsh/plugins/zsh-autosuggestions/zsh-autosuggestions.zsh
source /usr/share/zsh/plugins/zsh-syntax-highlighting/zsh-syntax-highlighting.zsh
{{- else if eq .chezmoi.os "darwin" }}
{{- if eq .chezmoi.arch "arm64" }}
source /opt/homebrew/share/powerlevel10k/powerlevel10k.zsh-theme
source /opt/homebrew/share/zsh-autosuggestions/zsh-autosuggestions.zsh
source /opt/homebrew/share/zsh-syntax-highlighting/zsh-syntax-highlighting.zsh
{{- else if eq .chezmoi.arch "amd64" }}
source /usr/local/opt/powerlevel10k/share/powerlevel10k/powerlevel10k.zsh-theme
source /usr/local/opt/zsh-autosuggestions/share/zsh-autosuggestions/zsh-autosuggestions.zsh
source /usr/local/opt/zsh-syntax-highlighting/share/zsh-syntax-highlighting/zsh-syntax-highlighting.zsh
{{- end }}
{{- end }}
eval "$(zoxide init --cmd cd zsh)"

eval "$(mise activate zsh)"
